name: Build ZTE U30AIR Kernel

on:
  workflow_dispatch:
    inputs:
      device_config:
        description: "chose config"
        required: false
        default: "nolto-u30air-defconfig"
        type: choice
        options:
          - nolto-u30air-defconfig
          - my_U30Air_defconfig
env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true

      - name: Setup massive swap
        run: |
          free -h
          # 创建大容量swap文件 - 这是关键！
          sudo fallocate -l 32G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          # 显示内存信息
          free -h
          echo "Swap setup completed"
    
      - name: Show hardware info
        run: |
          chmod 755 ./show_hardware_info.sh
          ./show_hardware_info.sh

      - name: Install basic dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            curl build-essential \
            libncurses-dev bison bc flex libssl-dev \
            gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi \
            libelf-dev rsync kmod git cpio wget zip \
            unzip python3 python-is-python3 make xz-utils python3-pip ccache rsync dos2unix

      - name: wget kernel source
        run: |
          wget -O U30Air_AndroidT_kernel-5.4.254.tar.gz "https://download.ztedevices.com/device/global/support/opensource/2/20240424_01/U30Air_AndroidT_kernel(5.4.254).tar.gz#W3"
          mkdir -p kernel_source
          tar -xzf U30Air_AndroidT_kernel-5.4.254.tar.gz -C kernel_source
  
      - name: Build kernel with clang 12.1.0 (clang-r416183b)
        run: |
          cp build5.sh kernel_source/bsp/kernel5.4/kernel5.4/
          mkdir -p kernel_source/bsp/kernel5.4/kernel5.4/out
          cp ${{ inputs.device_config }} kernel_source/bsp/kernel5.4/kernel5.4/out/
          cd kernel_source/bsp/kernel5.4/kernel5.4/.config
          chmod 755 build5.sh
          ./build5.sh
          
      - name: Create out directory archive
        run: |
          cd kernel_source/bsp/kernel5.4/kernel5.4
          zip -r kernel_boot_directory.zip out/arch/arm64/boot
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: u30air-kernel-build-artifacts-2
          path: |
            kernel_source/bsp/kernel5.4/kernel5.4/kernel_boot_directory.zip
          retention-days: 30
