name: Build ZTE U30AIR Kernel

on:
  workflow_dispatch:
    inputs:
      config:
        description: "chose the config"
        required: false
        default: "original"
        type: choice
        options:
          - original
          - changed

env:
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Cache kernel source
        uses: actions/cache@v3
        id: cache-kernel
        with:
          path: kernel_source
          key: kernel-source-u30air-5.4.254
          restore-keys: |
            kernel-source-u30air-5.4.254

      - name: Cache clang toolchain
        uses: actions/cache@v3
        with:
          path: ~/clang-r416183b
          key: clang-r416183b
          restore-keys: |
            clang-r416183b

      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
          android: true
          dotnet: true

      - name: Setup massive swap
        run: |
          free -h
          sudo fallocate -l 32G /swapfile
          sudo chmod 600 /swapfile
          sudo mkswap /swapfile
          sudo swapon /swapfile
          free -h
          echo "Swap setup completed"
    
      - name: Show hardware info
        run: |
          chmod 755 ./scripts/show_hardware_info.sh
          ./scripts/show_hardware_info.sh
          pwd
          ls kernel_source/
          du -h -d1

      - name: Install basic dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            curl build-essential \
            libncurses-dev bison bc flex libssl-dev \
            gcc-aarch64-linux-gnu gcc-arm-linux-gnueabi \
            libelf-dev rsync kmod git cpio wget zip \
            unzip python3 python-is-python3 make u-boot-tools \
            xz-utils python3-pip ccache rsync dos2unix

      - name: Build kernel with clang 12.1.0 (clang-r416183b)
        run: |
          cp scripts/build5.sh kernel_source/bsp/kernel5.4/kernel5.4/
          mkdir -p kernel_source/bsp/kernel5.4/kernel5.4/out
          if [[ "${{ github.event.inputs.config }}" == "original" ]]; then
            cp config/config_U30Air kernel_source/bsp/kernel5.4/kernel5.4/out/.config
          else
            cp config/my_U30Air_defconfig kernel_source/bsp/kernel5.4/kernel5.4/out/.config
          fi
          cd kernel_source/bsp/kernel5.4/kernel5.4/
          chmod 755 build5.sh
          ./build5.sh
          
      - name: Create out directory archive
        run: |
          cd kernel_source/bsp/kernel5.4/kernel5.4/
          cd out
          zip -r kernel_out_directory.zip arch .config
          du -h -d1
        
      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: u30air-kernel-build-artifacts-2
          path: |
            kernel_source/bsp/kernel5.4/kernel5.4/out/kernel_out_directory.zip
          retention-days: 30
